<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SoundBite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SoundBiteExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>688DADD51E7468C900A3A7AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688DADE91E7468C900A3A7AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688DADF41E7468C900A3A7AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688DAE0A1E74697D00A3A7AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
